<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url('https://previews.123rf.com/images/bonumopus/bonumopus1502/bonumopus150200151/36540101-pattern-with-movie-cinema-clapper-seamless-pattern-can-be-used-for-wallpapers-pattern-fills-web.jpg'); background-repeat: no-repeat; background-size: cover; ">
    <%= yield %>
  </body>
</html>
